

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<h4>You sure you want to buy</h4>

    @using (Html.BeginForm("BuyCoffee", "Home", FormMethod.Post))

    {
        <button type="submit"> @ViewBag.Count @ViewBag.FavoriteCoffee?</button>
    }

