@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>here's coffee</h1>
    <p class="lead">Oh goodness.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  

 
</div>