@{
    ViewBag.Title = "UserRegistration";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("hewwo");
            
            $("RegistrationForm").validate({
                wrapper: 'div',
                rules: {
                    //requirements for each named element
                    'firstNameInput': {
                        required: true,
                        minLength: 3 
                    },
                    'lastNameInput': {
                        required: true, 
                        minLength: 2 
                    },
                    'emailInput': {
                        required: true,
                        email: true 
                    },
                    'telephoneInput': {
                        required: true,
                        phone: true
                    }
                },
                messages: {
                    //configure messages when error condition tripped.
                    'firstNameInput': {
                        required: "First name is required",
                        minLength: "Do you have a longer version of your name?"
                    },
                    'lastNameInput': {
                        required: "Last name is required",
                        minLength: "No initials please"
                    },
                    'emailInput': {
                        required: "Email is required",
                        email: "try a different email"
                    },
                    'telephoneInput': {
                        required: "Please provide a telephone numblo",
                        phone: "Phone is not in a valid format"
                    }
                }
            });

        });
    </script>
}




<p>"Quick, input your data, it should be safe here. Promise"</p>
<div>
<form id="RegistrationForm" action="WelcomeUser" method="get">
        First Name:<input required type="text" name="firstNameInput"/>
        Last Name:<input required type="text" name="lastNameInput"/>
        E-mail Address:<input required  type="email" name="emailInput"/>
        Phone Number:<input required  type="tel" name="telephoneInput"/>
        <input id="submit" type="submit" value="Submit" />
</form>
    </div>