@{
    ViewBag.Title = "UserRegistration";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>"Quick, input your data, it should be safe here. Promise"</p>
<form action="Home/UserRegistration" method="get">
    First Name:<input type="text" name="firstNameInput"><br/>
    Last Name:<input type="text" name="lastNameInput"><br/>
    E-mail Address:<input type="email" name="emailInput"><br/>
    Phone Number:<input type="tel" name="telephoneInput"><br/>
    <input type="button" value="Submit"/>
</form>

